
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Borneo Ethical Adventures</title>
    <meta name="author" content="Alvaro Trigo Lopez" />
    <meta name="description" content="fullPage full-screen backgrounds." />
    <meta name="keywords"  content="fullpage,jquery,demo,screen,fullscreen,backgrounds,full-screen" />
    <meta name="Resource-type" content="Document" />
    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.fullpage.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/js/imagesloaded.pkgd.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <style>

        /* Style for our header texts
        * --------------------------------------- */
        h1{
            font-size: 5em;
            font-family: arial,helvetica;
            color: #fff;
            margin:0;
            padding:0;
        }

        /* Centered texts in each section
        * --------------------------------------- */
        .section{
            text-align:center;
        }


        /* Backgrounds will cover all the section
        * --------------------------------------- */
        .section{
            background-size: cover;
        }

        .slide{
            background-size: cover;
        }

        /* Defining each sectino background and styles
        * --------------------------------------- */
        #section0{
            background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg1.jpg);
            padding: 30% 0 0 0;
        }
        #section2{
            background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg3.jpg);
            padding: 6% 0 0 0;
        }
        #section3{
            background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg4.jpg);
            padding: 6% 0 0 0;
        }
        #section3 h1{
            color: #000;
        }


        /*Adding background for the slides
       * --------------------------------------- */
        #slide1{
            background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg2.jpg);
            padding: 6% 0 0 0;
        }
        #slide2{
            background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg5.jpg);
            padding: 6% 0 0 0;
        }


        /* Bottom menu
        * --------------------------------------- */
        #infoMenu li a {
            color: #fff;
        }
    </style>

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script type="text/javascript" src="/static/js/jquery.fullpage.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            // init Masonry after all images have loaded
            var $grid = $('.grid').imagesLoaded( function() {
                $grid.masonry({
                    itemSelector: '.grid-item',
                    percentPosition: true,
                    columnWidth: '.grid-sizer'
                });
            });

                $('#fullpage').fullpage({
                    'verticalCentered': false,
                    navigation: true,
                    menu: '#menu',
                    anchors:['firstPage', 'secondPage', '3rdPage', '4thPage'],
                    responsiveWidth: 1100
                });
            });
    </script>

</head>
<body>

<div class="nav">
    <ul id="menu" class="nav nav-pills nav-justified" style="position:fixed; z-index:70;" >
        <li data-menuanchor="firstPage" class="active" ><a href="#firstPage">Home</a></li>
        <li data-menuanchor="secondPage"><a href="#secondPage">Tours</a></li>
        <li data-menuanchor="3rdPage"><a href="#3rdPage">About Us</a></li>
        <li data-menuanchor="4thPage"><a href="#4thPage">Contact Us</a></li>
    </ul>
</div>

<div id="fullpage">
    <div class="section " data-anchor="firstPage" id="section0">
        <h1>Borneo Ethical Adventures</h1>
        <h1>beadventures.com.au</h1>
    </div>
    <div class="section " data-anchor="secondPage" id="section1">
        <div class="slide" id="slide1">
            <h1>Tour 1:</h1>
            <div class="container">
                <div class="grid">
                    <div class="grid-sizer"></div>

                    <div class="grid-item">
                        <img src="/static/img/tour1/gal1.jpg"/>
                    </div>


                    <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour1/gal8.jpeg"/>
                    </div>
                    <div class="grid-item">
                        <p class="tour-blurb blurb-two">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour1/gal5.jpg"/>
                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour1/gal9.jpg"/>
                    </div>


                    <div class="grid-item">
                        <p class="tour-blurb blurb-one">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>



                    <div class="grid-item">
                        <img src="/static/img/tour1/gal2.JPG"/>
                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour1/gal4.jpg"/>
                    </div>
                    <div class="grid-item">
                        <p class="tour-blurb blurb-four">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    </div>
                    <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour1/gal3.JPG"/>
                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour1/gal6.jpg"/>
                    </div>

                    <div class="grid-item">
                        <p class="tour-blurb blurb-three">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    </div>
                    <div class="grid-item">
                        <img src="/static/img/tour1/gal7.jpg"/>
                    </div>
                </div>
            </div>





        </div>
        <div class="slide" id="slide2">

            <h1>Tour 2:</h1>
            <div class="container">
                <div class="grid">
                    <div class="grid-sizer"></div>

                    <div class="grid-item">
                        <img src="/static/img/tour2/gal1.jpg"/>
                    </div>


                    <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
                    </div>

                    <div class="grid-item">
                        <p class="tour-blurb blurb-two">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour2/gal5.jpg"/>
                    </div>


                    <div class="grid-item">
                        <p class="tour-blurb blurb-one">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>



                    <div class="grid-item">
                        <img src="/static/img/tour2/gal2.jpg"/>
                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour2/gal4.jpg"/>
                    </div>
                    <div class="grid-item">
                        <p class="tour-blurb blurb-four">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    </div>
                    <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour2/gal3.jpeg"/>
                    </div>

                    <div class="grid-item">
                        <img src="/static/img/tour2/gal6.jpeg"/>
                    </div>

                    <div class="grid-item">
                        <p class="tour-blurb blurb-three">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    </div>
                    <div class="grid-item">
                        <img src="/static/img/tour2/gal7.jpeg"/>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <div class="section" data-anchor="3rdPage" id="section2">
        <h1>About us</h1>

    </div>
    <div class="section fp-auto-height" data-anchor="4thPage" id="section3">
        <div class="container">
            <form class="well form-horizontal" action="MAILTO:contact@beadventures.com.au" method="post"  id="contact_form">
                <fieldset>

                    <!-- Form Name -->
                    <legend class="contact-form-heading">Contact Us</legend>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-2 control-label">First Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-2 control-label" >Last Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label">E-Mail</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>


                    {#                    <!-- Text input-->#}
                    {##}
                    {#                    <div class="form-group">#}
                    {#                        <label class="col-md-4 control-label">Phone #</label>#}
                    {#                        <div class="col-md-4 inputGroupContainer">#}
                    {#                            <div class="input-group">#}
                    {#                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>#}
                    {#                                <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}


                    <!-- Text area -->

                    <div class="form-group">
                        <label class="col-md-2 control-label">Message</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control form-message" name="comment" placeholder="Body"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Success message -->
                    <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success" >Send <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

    </div>
</div>



</body>
</html>