<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Borneo Ethical Adventures</title>

    <link rel="stylesheet" type="text/css" href="/static/css/jquery.fullpage.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

    <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>



    <style>

        {#        tour grid layout styles       #}
        .grid {
            max-width:95%;
            margin:auto;
            max-height:90%;
            font-family: 'Montserrat', sans-serif;
        }

        .grid:after {
            content: '';
            display: block;
            clear: both;
        }

        .grid-sizer,
        .grid-item {
            width: 20%;
        {#            height:200px;#}
        }

        .grid-item, .grid-item img {
            float: left;

        }
        .grid-item--width2 {
            width:  40%;
        }
        .grid-item--width3 {
            width:  60%;
        }
        .grid-item--width4 {
            width:  80%;
        }

        {#        .grid-item--height2 {#}
        {#            height:  400px;#}
        {#        }#}
        {#        .grid-item--height3 {#}
        {#            height:  600px;#}
        {#        }#}
        {#        .grid-item--height4 {#}
        {#            height:  800px;#}
        {#        }#}

    </style>
</head>
<body>

<div class="nav">
    <ul id="menu" class="nav nav-pills nav-justified" style="position:fixed; z-index:70;" >
        <li data-menuanchor="homeSection" class="active" ><a href="#homeSection">Home</a></li>
        <li data-menuanchor="toursSection"><a href="#toursSection">Tours</a></li>
        <li data-menuanchor="aboutSection"><a href="#aboutSection">About Us</a></li>
        <li data-menuanchor="contactSection"><a href="#contactSection">Contact Us</a></li>
    </ul>
</div>

<div id="fullpage">
    <div class="section"  data-anchor="homeSection" id="home">
        <h1 class="heading">Borneo Ethical Adventures <br/>
            beadventures.com.au
            <br/>
            <a id="scroll-btn-link" href="#toursSection">
                <span class="glyphicon glyphicon-chevron-down" class="scroll-btn"></span>
            </a>
        </h1>

    </div>
    <div class="section"  data-anchor="toursSection" id="tours">
        <div class="tours-container">
            <div class="slide" id="slide1">
                <h1 class="tours-heading">Tour 1</h1>

                <div class="grid">
                    <div class="grid-sizer"></div>

                    <img class="grid-item grid-item--height2 " src="/static/img/tour1/gal6.jpg"/>

                    <div class="tour-blurb blurb-one grid-item grid-item--width4 grid-item--height2 ">
                        <p>
                            Recommended Fitness level 4/5 <br/>
                            Day 1: <br/>
                            Bako National Park <br/>
                            Nature logo <br/>                   {# what dis? #}
                            45 mins drive <br/>
                            20 mins boat ride <br/>
                        </p>
                        <p>
                            Depart the hotel at 8am.
                            Breakfast on infamous Sarawak laksa, popiah or rot I at a popular local cafe ( Choon Hui or Choon Chou )
                        </p>
                        <p>
                            Your journey to Bako National Park is made all the more pleasurable with a 20min boat ride through a stilted water village bustling with local fisherman.
                        </p>
                        <p>
                            As the inlet opens to the calm waters of the South China Sea we pass traditional fish traps, mangroves and islands.
                        </p>
                        <p>
                            Look out for the bottle nose dolphin, crocodiles, water monitors and coastal sea eagles.
                        <p>
                        Bako National Park provides the perfect introduction to your wildlife encounter with regular sightings of Proboscis monkey, long tailed macaque, silverleaf monkeys and wild boar.
                        </p>
                        <p>
                            Explore a trail or two and enjoy a picnic lunch before returning to town.
                        </p>
                    </div>
                    <img class="grid-item grid-item--width2 grid-item--height2" src="/static/img/tour1/gal8.jpeg"/>
                    <img class="grid-item grid-item--height2" src="/static/img/tour1/gal5.jpg"/>
                    <div class="tour-blurb blurb-two grid-item  grid-item--height2">
                        <p>
                            Day 2:<br/>
                            Behind the scenes at Matang rehabilitation sanctuary.
                        </p>
                        <p>
                            The dedicated staff and volunteers at Matang have saved and rehabitated thousands of endangered Bornean animals since their inception in....
                        </p>
                        <p>
                            You'll have the opportunity to get behind the scenes and learn what is required to keep the valuable volunteer project at Matang ticking along
                            Looking stylishly Euro there
                        </p>
                    </div>

                    <img class="grid-item" src="/static/img/tour1/gal7.jpg"/>

                    <img class="grid-item grid-item--height2" src="/static/img/tour1/gal1.jpg"/>


                    <div class="tour-blurb blurb-three grid-item grid-item--width2 grid-item--height2">
                        <p >
                            Day 3: <br/>
                            Depart 8am for a full day of Borneo at its best.
                            Kick start with the much anticipated visit to Semengoh Wildlife Sanctuary to witness orangutan in relatively nature setting. Back that up with a kayak journey along the...stopping at scenic locations for swimming, sightseeing and a traditional longhouse lunch.
                        </p>
                        <p >
                            On our last night in Kuching we learn we take a cooking class and share our meal with some Kuching locals doing great work for the people, animal and protected areas of Sarawak.
                        </p>
                    </div>
                    <img class="grid-item" src="/static/img/tour1/gal9.jpg"/>

                    <img class="grid-item " src="/static/img/tour1/gal2.JPG"/>
                    <div class="tour-blurb blurb-four grid-item grid-item--width2 grid-item--height2 ">
                        <p >
                            Day 4 - Day 8: <br/>
                            Kuching - Mulu World Heritage Area <br/>
                            Over the next 4 days in Mulu our time is divided between sight seeing, working on volunteer projects at  Mulu National Park and S.K. Batu Bungan,( the local boarding school and home to around 120 Orang Ulu students from the remote tributaries of the Baram River.)
                        </p>
                        <p>
                            Volunteer projects vary depending on weather, community needs and priorities and can be catered to the groups passion and experience.
                            See partnerships and volunteer projects or contact us for further details on current projects.
                        </p>
                        <p>
                            Tours in and around Mulu World Heritage Area are coordinated with consideration to volunteer projects but include the following iconic experience; Clearwater Cave, Deer Cave, the Bat Exudus, night walk tour and visit to local Longhouse and art market.
                            Please contact us if you would like to take part in an adventure caving experience/ extended day trip such as Pinnacles Climb, Clearwater Revival Adventure Caving or Garden of Eden Valley Walk
                        </p>
                    </div>

                    <div class="tour-blurb blurb-five grid-item grid-item--width3  grid-item--height2">
                        <p >
                            Day 9 -Day 11:<br/>
                            Trek the Headhunters Trail to Limbang<br/>
                        </p>
                        <p>
                            Averaging less than 200 visitors per year this section of pristine wilderness is home to hornbill your last few days takes you even further into the remote,parts of Borneo asTravel by longboat and remote trails along the historical Headhunters Trail of Borneo.
                        </p>
                        <p >
                            Walking out of the
                        </p>
                        <p>
                            Whether you are Relaxing in the longboats watching the forest skyline for your last sightings of hornbill, monkeys or scanning the riverbanks for sun baking water monitors and ....
                        </p>
                        <p>
                            Your final,days trekking and travelling to Limbang is th perfect opportunity to reflect on your journey, your contribution to the people And lands of Sarawak and solidify the friendships of the like minded travellers drawn to Borneo ethical Adventures  and a travel experience that enriched mind, body and soul for travellers and those who's paths we cross.
                        </p>
                        <p>Experience longhouse hospitality at Medamit, indulge in a little tuak
                            ,and provided an avenue for travellers with purpose to connect the elusive hornbills  longboat ride ,as we burst from under the rainforest canopy into longboats for the final
                        </p>
                    </div>
                    <img class="grid-item grid-item--height2" src="/static/img/tour1/gal4.jpg"/>
                    <img class="grid-item" src="/static/img/tour1/gal3.JPG"/>


                </div>

            </div>
        </div>
        <div class="slide" id="slide2">

            <h1 class=" tours-heading tour-heading-two">Tour 2: Kuching and Mulu Immersion</h1>

            <div class="grid">
                <div class="grid-sizer"></div>

                <img class="grid-item " src="/static/img/tour2/gal1.jpg"/>

                <div class="tour-blurb blurb-one grid-item  ">
                    <p>Recommended fitness level 4/5 <br/>
                        Our second tour on offer features an identical experience as our first tour for days 1-8.</p>



                </div>
                <img class="grid-item" src="/static/img/tour2/gal2.jpg"/>
                <img class="grid-item" src="/static/img/tour2/gal3.jpeg"/>
                <div class="tour-blurb blurb-two grid-item  grid-item--width4">
                    <p>Day 9-10 <br/>

                        Camp one is a remote campsite located 10km from HQ on the trail,to the Summit ( Sarawak's tallest mountain).</p>
                    <p>
                        In partnership with Earthwatch and Sarawak's Forestry Department, Borneo Ethical Adventures developed  and monitors the impacts of climate change within Mulu World Heritage Area and uploads the data the Earthwatch's worldwide tracking site at......
                    </p>
                    <p>
                        Spending overnight at Camp One is made all the more special knowing that less than 20 people per month spend the night at camp one enjoying a camp fire overlooking the surreal landscape of Bukit Pangung ( a rugged limestone peak rising dramatically from the Forrest floor).
                    </p>
                    <p>
                        Bath in the Paku river below the camp and spend the night under mosquito nets on a basic camp mattress.
                    </p>
                </div>

                <img class="grid-item grid-item--height2" src="/static/img/tour2/gal4.jpg"/>

                <img class="grid-item" src="/static/img/tour2/gal5.jpg"/>


                <div class="tour-blurb blurb-three grid-item">
                    <p> Day 11.  <br/>

                        Fly Mulu to Kuching or Miri (gateway to Kota Kinabalu).

                    </p>
                </div>
                <img class="grid-item" src="/static/img/tour2/gal6.jpeg"/>
                {#                <div class="tour-blurb blurb-four grid-item grid-item--width2 ">#}
                {##}
                {#                </div>#}
                <img class="grid-item " src="/static/img/tour2/gal8.jpg"/>
                {#                <div class="tour-blurb blurb-five grid-item grid-item--width3 ">#}
                {##}
                {##}
                {#            </div>#}

            </div>
        </div>
    </div>
    <div class="section"  data-anchor="aboutSection" id="about">


        <div class="container" id="about-us-container">
            <h1 class="">About us</h1>
            <h2>Borneo Ethical Adventures (BEA) - the journey begins..</h2>
            <p>
                The story begins with a life changing journey into the remote part of Borneo. I was flown in for a job  interview to manage a world heritage national park. As soon as my feet touched the ground I knew that I had arrived at a very special place. One where the sense of community was so strong, that the harsh environment and ever changing river levels made them resilient to all that nature could throw at them. So pure a community that doors were never locked, voices were never raised and children shared, laughed and seldom cried.
            </p>
            <p> The national park was a healthy ecosystem where 3 million bats devoured 15 ton of insects every night, the jungle resonated with cicada, katydid, frogs, birds, the occasional monkey.
            </p>
            <p>I knew that no matter how hard it would be to leave my family and friends in Fremantle, Western Australia it was going to be a life changing experience.
            </p>
            <p>
                Over the next two years I became accustom to the morning wake up call of the forest, the 6 o'clock sound of the cicada, the signs of rains, floods and seasonal changes. I worked along side the the Penan, Berawan communities, government departments, NGO's. I facilitated visits and tours for delegations, conferences, tourist and a steady stream of family and friends.
            </p>
            <img style="float:left; margin: 0px 20px 20px 0px;" src="/static/img/ali_contact.JPG"/>
            <p>My 50th birthday was a turning point when I devised a tour for 28 friends through Kuching and Mulu.

            </p>
            <p>We visited the most popular but also unknown places that I had discovered over the years. We contributed to small businesses and remote communities as we travelled. Meals were prepared for us by local communities, school P&C's, we bought paint and painted a building at the school, I choose the best guides and favourite destinations adding my personal stories and experience as we travelled.

            </p>
            <p>My friends agreed that it was a trip of a lifetime, one that was not available as a package from Australia or abroad. One they would like to repeat, travelling further afield, spending more time connecting and giving to the communities.

            </p>
            <p>For me it was an exiterating trip that shared all that I loved and supported the people and land that I grown so accustomed to.

            </p>
            <p>This was the seed that grew into Borneo Ethical Adventures.
            </p>

            <p>
                I invite you to experience my Borneo, to meet the local people, eat the local food, travel into the jungle and support the communities whilst at the same time enjoying a balance of quaint old asia, sighting and all things that make a holiday just that- a holiday.
            </p>
            <p>
                So join  me, get our hands dirty, get your hearts touched and leave feeling a sense of connection never before achieved on a 10 trip abroad.
            </p>

            <p>
                <b>Our commitment</b> <br/>
                I'm a sole operator, personally designing and travelling with each and ever tour.
            </p>
            <p>
                10% of BEA's profits contribute directly to our ethical projects and support the great work of Matang Orangutan Rehabilitation Centre and Helping Hands Penan
            </p>
            <p>
                The community projects are designed and delivered in consultation and/or partnership with relevant communities, NGO's and government agencies.
            </p>
            <p>
                Everything from accommodation to the local guides selected are chosen to support ethical operators, volunteer groups and communities.
            </p>
            <p>

                <b>Partnerships</b> <br/>

                Matang Orangutan Rehabilitation Centre<br/>

                Helping Hands Penan


            </p>
        </div>

    </div>

    <div class="section"  data-anchor="contactSection" id="contact">
        <div class="container">
            <form class="well form-horizontal" method="post" action="email/" id="contact_form">
                <fieldset>
                    <!-- Form Name -->
                    <legend class="contact-form-heading">Contact Us</legend>
                    <p>If you would like to know more about us, our tours, or would like to enquire about a booking please get in touch with us using the form below!</p>
                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-2 control-label">First Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-2 control-label" >Last Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label">E-Mail</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text area -->

                    <div class="form-group">
                        <label class="col-md-2 control-label">Message</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control form-message" name="comment" placeholder="Body"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Success message -->
                    <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success" >Send <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
</div>



<script type="text/javascript" src="/static/js/jquery.fullpage.js"></script>
<script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>

<script>
    $(document).ready(function () {

        WebFontConfig = {
            google: {
                families: ['Montserrat']
            },
            active: function() {
                var $grid = $('.grid').imagesLoaded(function(){
                    $grid.masonry({
                        itemSelector: '.grid-item',
                        columnWidth: '.grid-sizer',
                        percentPosition: true
                    });
                });
            }
        };

        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1.4.2/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    });

    // external js: masonry.pkgd.js
    var $grid = $('.grid').imagesLoaded( function() {
        $grid.masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true
        });
    });
    $('#fullpage').fullpage({
        navigation: false,
        menu: '#menu',
        anchors:['homeSection', 'toursSection', 'aboutSection', 'contactSection'],
        responsiveWidth: 1100,
        scrollOverflow: true,
    });

</script>
</body>
</html>
